<h1>New Users</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :height %>
  <%= f.text_field :height %>

  <%= f.label :weight %>
  <%= f.text_field :weight %>

   <%#= w.label :glucose %>
   <%#= w.text_field :glucose %>


  <%= f.submit %>

<% end %>
