<h2><%= @user.name %></h2>
<%= link_to "Edit", edit_user_path %>
<h2>Height: <%= @user.height %></h2>
<h2>Weight: <%= @user.weight %></h2>

<%# @biometrics.each do |biometric| %>
<div class="biometric">
  <h3><%= @biometrics.name %></h3>
  <p>Value: <%= @biometrics.value %> <%= @biometrics.measurement_type %></p>
<p>Created on: <%= @biometrics.created_at.strftime("%b %d. %Y") %> | Updated on: <%= @biometrics.updated_at %></p>
</div>

<%=  link_to "Delete!", user_path(@user), method: :delete, class: "delete" %>

 <!-- EDIT****link point to edit_user_biometric_path -->
